---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">People</h3>
{% for person in site.data.settings.junta %}
<div class="row g-5 mb-5">
  <div class="col-md-4">
    <h5>{{ person.name }}</h5>
    <h6>{{ person.title }}</h6>
    <p>{{ person.institution }}</p>
    <p>{{ person.department }}</p>
    <p><a href="{{ person.url }}" target="_blank">Personal website</a></p>
  </div>

  <div class="col-md-2">
    <img src="{{ site.github.url }}/{{ person.image }}" alt="Contact" width="100%">
  </div>

  <div class="col-md-6">
      <embed src="{{ site.github.url }}/junta/{{ person.text }}" width="100%">
  </div>


</div>
{% endfor %}
