---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Premios</h3>
    
    El Premio ATI SISTEMAS a las Tesis de Física Nuclear nace en el año 2013  con el
objetivo de contribuir como aliciente y reconocimiento al esfuerzo que anualmente
realizan los Grupos de Investigación que trabajan en Física Nuclear en las
Universidades y Centros de Investigación españoles.


La filosofía de este galardón es premiar, según los criterios objetivos establecidos
por la Comisión Evaluadora, las tesis realizadas en el campo de la Física Nuclear
que hayan sido presentadas y defendidas a lo largo del año natural anterior a la
convocatoria, fomentar en la medida de lo posible la  Física
Nuclear en cualquiera de los campos de Investigación de la disciplina, y
promocionar las actividades divulgativas del Grupo Especializado de Física Nuclear.


    {% for premio in site.data.settings.premios %}
      <p><a href="{{ site.github.url }}/premios/{{ premio.url}}">{{ premio.name }}</a></p>
    {% endfor %}
  </div>
</div>

